<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 2
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list>

        <ion-list-header>
            <h2>Settings</h2>
        </ion-list-header>

        <ion-item lines="full">
            <ion-label>Langage</ion-label>
            <ion-select (ionChange)="saveLocale($event)" [(ngModel)]="locale">
                <ion-select-option value="fr-FR">Français</ion-select-option>
                <ion-select-option value="en-GB">Anglais</ion-select-option>
                <ion-select-option value="es-ES">Espagnol</ion-select-option>
                <ion-select-option value="it-IT">Italien</ion-select-option>
                <ion-select-option value="pt-BR">Portugais</ion-select-option>
                <ion-select-option value="de-DE">Allemand</ion-select-option>
                <ion-select-option value="ru-RU">Russe</ion-select-option>
                <ion-select-option value="ja-JP">Japonais</ion-select-option>
                <ion-select-option value="zh-CH">Chinois</ion-select-option>
                <ion-select-option value="ar-DZ">Arabe</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="full">
            <ion-label>Speed</ion-label>
            <ion-range (ionChange)="saveRate($event)" [(ngModel)]="rate" value="2" min="0.25" max="3" step="0.25" snaps="true" ticks="true">
            <ion-label slot="start">0.25</ion-label>
            <ion-label slot="end">3</ion-label>
            </ion-range>
        </ion-item>

    </ion-list>

</ion-content>
